menu.nav
  .nav__logo
    a.logo.link(href="/") Поезія.УКР
  ul.nav__block
    //li
      //a.link(href= Обрані
    //li
      //a.link(href="/poem") Шукати

    li
      a.link(href="/random") Випадковий вірш
//hr
.nav
  ul.nav__block
    li
      a.link(href="/add")
        b Додати вірш
