extends ./layout
block content
  .block
    h2 Додати вірш
    .form
      .form__row
        .select
          label Ім'я автора
          input.input.select__input(placeholder="Ліна Костен...", value="")
          .select__list.list
            a.list-item Ліна Костенко
            a.list-item Тарас Шевченко
            a.list-item Іван Котляревський
            a.list-item Олена Теліга
            a.list-item Іван Франко
            a.list-item Василь Стус
      .small.form__row Якщо ви не знайшли автора у списку, вкажіть його ім'я у полі
        u  Назва
        | . Наприклад,
        i  Тарас Шевченко - Сон
      .form__row
        label Назва
          input.input(name="name", placeholder="Страшні  слова,  коли  вони  мовчать...")
      .form__row
        label Текст вірша
          .editor(contenteditable="true")
            | Страшні  слова,  коли  вони  мовчать,
            br
            | Коли  вони  зненацька  причаїлись,
            br
            | Коли  не  знаєш,  з  чого  їх  почать,
            br
            | Бо  всі  слова  були  уже  чиїмись.
      // hidden fields
      input(hidden, name="authorId", value="12345")
      .form__row
        button.btn.btn_primary(type="submit") Відправити
