
@import compass
//@include global-reset
@import url(https://fonts.googleapis.com/css?family=Lora&subset=latin,cyrillic)

html
  font-size: 16px


@import lib/base
@import grid/grid
@import typography

html, body
  height: 100%

.full-height
  height: 100%
[class*="col-"]
  overflow: auto

body
  //max-width: 40em
  //margin: 0 auto
  font: 200 100%/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif

.border-between > [class*='col-']:before
  background: #e3e3e3
  bottom: 0
  content: " "
  left: 0
  position: absolute
  width: 1px
  top: 0
.border-between > [class*='col-']:first-child:before
  display: none
.icon
  display: inline-block

.index
  .index__block
    padding-top: 200px
  .index__content
    @extend .index__block
    margin-left: 1em

.block
  //margin: auto 0
  max-width: 600px
  text-align: left

.nav
  //margin-top: 100px
  text-align: right
  .nav__title
    margin-top: 20px
    background-color: yellow
    color: #333
    display: inline-block
    padding: 5px 10px

  .nav__block
    margin-top: 1em
    li
      margin-top: .4em
.highlight
  background-color: yellow
  padding: 3px 10px
  //border: 1px solid #e5e5e5
