
@import compass
//@include global-reset
@import url(https://fonts.googleapis.com/css?family=Lora&subset=latin,cyrillic)

html
  font-size: 16px


@import lib/base
@import grid/grid
@import typography

html, body
  height: 100%
.link
  &:hover
    border-bottom: 1px solid #333
$breakpoint: $screen-sm-min
$light-grey: #e3e3e3
$grey: #333
$yellow: yellow

.full-height
  height: 100%
.full-height-desktop
  +min-screen($breakpoint)
    height: 100%
[class*="col-"]
  overflow: auto

body, input, button, textarea
  //max-width: 40em
  //margin: 0 auto
  font: 200 100%/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif


.border-between > [class*='col-']
  &:nth-child(2n)

    border-color: $light-grey
    border-style: solid
    border-width: 1px 0 0 0
    +min-screen($breakpoint)
      border-width: 0 0 0 1px
    //border-left: 1px solid #e3e3e3

.icon
  display: inline-block

.index
  .index__block
    +min-screen($breakpoint)
      position: relative
      top: 25%
      //padding-top: 200px
    padding-bottom: 20px
  .index__content
    @extend .index__block
    +min-screen($breakpoint)
      margin-left: 1em
      & > hr
        margin-left: -2em

  hr
    border-width: 1px 0 0 0
    border-style: solid
    border-color: $light-grey

    margin-left: -.5 * $grid-gutter-width
    margin-right: -.5 * $grid-gutter-width

.block
  //margin: auto 0
  max-width: 600px
  text-align: left

.nav
  //margin-top: 100px
  //text-align: center
  +min-screen($breakpoint)
    text-align: right

  .nav__block
    margin-top: 1em
    li
      margin-top: .4em
  .nav__logo
    margin-top: 20px
    margin-right: -11px

.logo
  background-color: $yellow
  border: 1px solid $grey
  color: $grey
  display: inline-block
  padding: 5px 10px
  font-size: 1.17em
  font-weight: 700
.highlight
  background-color: $yellow
  padding: 3px 10px
  //border: 1px solid #e5e5e5

.form
  .form__row
    margin-top: 1em
.input, .textarea, .editor
  display: inline-block
  width: 100%
  padding: .5em
  border: 1px solid $light-grey
  &:focus
    border-color: darken($yellow, 5%)
    //border-color: $grey
  label > &, label + &
    margin-top: .5em

.editor
  max-height: 250px
  min-height: 150px
  overflow: auto
.btn
  padding: .75em 1em
  background-color: transparent
  border: 1px solid $grey
  &.btn_primary
    background-color: $yellow

.list
  width: 100%
  display: inline-block
  padding-top: 1px
.list-item
  width: 100%
  display: inline-block
  margin-top: -1px
  border: 1px solid $light-grey
  padding: .5em
  &:hover
    background-color: #f1f1f1

.select
  position: relative
  .select__input:focus
    & + .select__list
      display: block
  .select__list
    display: none
    position: absolute
    top: 100%
    z-index: 1
    background-color: white
    max-height: 200px
    overflow: auto
    box-shadow: 0 1px 0 $light-grey
    //box-shadow: inset 0 -3px 3px rgba(black, .3)


