doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Поезія України
    link(rel='stylesheet', href='css/app.css')
    link(rel='icon', type='image/png', href='images/favicon.png?v=123113')
  body
    .container-fluid.full-height-desktop.index
      .row.border-between.full-height-desktop
        .col-sm-3.col-md-2.full-height-desktop
          .index__block
            menu.nav
              .nav__logo
                a.logo.link Поезія.УКР
              ul.nav__block
                li
                  a.link Обрані
                li
                  a.link Випадковий вірш
            hr
            .nav
              ul.nav__block
                li
                  a
                    b.link Додати вірш
        .col-sm-9.col-md-10.full-height-desktop
          .index__content
            include ./partitials/add-poem
            hr
            include ./partitials/view-poem

    script(src='js/app.js')
