extends ./layout

block content
  div.block
    h2 Вітаємо вас
    p Ми маємо на меті мотивувати людей віршами.
      br
      | Тому ми зібрали вірші українських авторів в одному місці.
    p Розпочніть знайомство з творами та
      i  розповідайте друзям про сервіс.
    p
      a.link.highlight(href="/random") Розпочати
        span.arrow →
