doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title #{title} | Поезія України
    link(rel='stylesheet', href='/css/app.css')
    link(rel='icon', type='image/png', href='/images/favicon.png?v=123213')
    include ./partitials/fb
  body
    .container-fluid.full-height-desktop.index
      .row.border-between.full-height-desktop
        .col-sm-3.col-md-2.full-height-desktop
          .index__block
            include ./partitials/sidebar
        .col-sm-9.col-md-10.full-height-desktop
          .index__content#content
            block content
    include partitials/test.html
    script.
      window.fbAsyncInit = function() {
        FB.init({
        appId      : '945419322216906',
        xfbml      : true,
        version    : 'v2.5'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
