doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title #{title} | Поезія України
    link(rel='stylesheet', href='/css/app.css')
    link(rel='icon', type='image/png', href='/images/favicon.png?v=123213')
    include ./partitials/fb
  body
    .container-fluid.full-height-desktop.index
      .row.border-between.full-height-desktop
        .col-sm-3.col-md-2.full-height-desktop
          .index__block
            include ./partitials/sidebar
        .col-sm-9.col-md-10.full-height-desktop
          .index__content#content
            block content
    script(src="/js/app.js")
