div.block
  .typography
    h2 "Страшні слова, коли вони мовчать..."
    h5 Лiна Костенко
    p Страшні  слова,  коли  вони  мовчать,
      br
      | Коли  вони  зненацька  причаїлись,
      br
      | Коли  не  знаєш,  з  чого  їх  почать,
      br
      | Бо  всі  слова  були  уже  чиїмись.
    p
      | Хтось  ними  плакав,  мучився,  болів,
      br
      | із  них  почав  і  ними  ж  і  завершив.
      br
      | Людей  мільярди,  і  мільярди  слів,
      br
      | а  ти  їх  маєш  вимовити  вперше!
    p
      | Все  повторялось:  і  краса,  й  потворність.
      br
      | Усе  було:  асфальти  й  спориші.
      br
      | Поезія  -  це  завжди  неповторність,
      br
      | якийсь  безсмертний  дотик  до  душі
  p
    a.highlight Наступний вірш
      span.arrow →
